[submodule "Editor/vendor/glfw"]
	path = Editor/vendor/glfw
	url = https://github.com/Nikola2412/glfw.git
	branch = master
[submodule "Editor/vendor/glm"]
	path = Editor/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Editor/vendor/imgui"]
	path = Editor/vendor/imgui
	url = https://github.com/Nikola2412/imgui.git
	branch = docking
[submodule "Editor/vendor/AsyncLogger"]
	path = Editor/vendor/AsyncLogger
	url = https://github.com/Nikola2412/AsyncLogger.git
	branch = dev
