[submodule "Editor/vendor/GLFW"]
	path = Editor/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Editor/vendor/glm"]
	path = Editor/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Editor/vendor/imgui"]
	path = Editor/vendor/imgui
	url = https://github.com/TheCherno/imgui
